body {
  background-size: cover;
  display: flex;
  justify-content:space-around;
  align-items:center;
  background: url(/assets/freedom.jpg) no-repeat center center fixed; 
}
div {
  max-height: 400px;
  max-width: 600px;
  align-items: center;
}
p {
  width: 900px;
  height: 260px;
  font-variant: small-caps; 
  text-align: center;
  margin:0;
  padding0;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 35px;
  letter-spacing: 6px;
  line-height: 1.5;
  font-stretch: ultra-expanded;
}
span {
  font-style: italic;
  margin-top:0;
  padding:0;   
  float:right
}